# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.env

# Output folders
bin/
obj/

# Vendor directory (if not vendoring dependencies)
vendor/

# OS files
.DS_Store

# Editor files
*.swp

# Coverage
coverage.out